main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.marca {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: 5px 0;
    color: #d5006d;
}

.produto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    text-align: center;
    margin: 5px 0;
}

.preco {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color: #d5006d;
    margin: 5px 0;
}

.asp-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px 30px;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #d5006d;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #f5e3ae;
}

    .asp-button:hover {
        color: rgb(255, 255, 255);
        box-shadow: inset 0 -100px 0 0 rgba(255, 182, 193, 0.8);
    }

    .asp-button:active {
        transform: scale(0.9);
    }



#p1 {
    padding-top: 10vh;
}

.ficprod {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin: 7vh;
    padding-top: 2vh;
}

    .ficprod img {
        width: 28vh;
        height: 38vh;
        transition: all .3s ease-in-out;
    }

        .ficprod img:hover {
            width: 29vh;
            height: 39vh;
        }

.paginas {
    flex-direction: row;
    display: flex;
}

#p4 {
    padding-bottom: 3vh;
}

@media screen and (max-width: 600px) {
    main {
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
    }

        main p {
            font-size: 1.4em;
        }


    .paginas {
        flex-direction: column;
    }

    #p4 {
        padding-bottom: 5vh;
    }

    #p1 {
        padding-top: 10vh;
    }
}